<html>
<head>
  <title>Midterm 2 - Admin</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">  
</head>
<body ng-app="shop" ng-controller="MainCtrl">
  <div class="header">
    <h1> Store Management Interface </h1>
  </div>
  <a href="shop.html">View Shop</a>

  <div class="addr">
    <form ng-submit="addItem()" class="admin-form">
        <input class="admin-form-name" placeholder="Product Name" type="text" ng-model="newItemName"></input>
        <input class="admin-form-price" placeholder="Price" type="number" ng-model="newItemPrice"></input>
        <input class="admin-form-url" placeholder="Image URL" type="text" ng-model="newItemImageUrl"></input>                
        <button class="admin-form-button" type="submit">Add Product</button>
    </form>
  </div>

  <div class="canHeader">
    <h2> Current Products </h2>
  </div>

  <div class="cans" ng-repeat="item in items | orderBy: 'name'">
    <span ng-click="deleteItem(item)"><strong><i class="glyphicon glyphicon-remove"></i></strong></span>
     {{item.name}} - Price: ${{item.price}} - Ordered {{item.numberOrdered}} <img src="{{item.imageUrl}}">
  </div>
</body>
</html>
