<html>
<head>
  <title>Midterm 2 - Admin</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">  
</head>
<body ng-app="voting" ng-controller="MainCtrl">
  <div class="header">
    <h2> Administrative Interface </h2>
  </div>

  <div class="addr">
    <form ng-submit="addCandidate()">
      <input type="text" ng-model="formContent" placeholder="item"></input>
      <input type="number" ng-model="formPrice" placeholder="price"></input>
      <button type="submit">Add Item</button>
    </form>
  </div>

  <div class="canHeader">
    <h2> Current Items </h2>
  </div>

  <div class="cans" ng-repeat="candidate in candidates | orderBy: '-name'">
    <span ng-click="delete(candidate)"><strong><i class="glyphicon glyphicon-remove"></i></strong></span>
    {{candidate.name}} - price: ${{candidate.price}} - ordered {{candidate.quantity}}
  </div>
</body>
</html>
