    input {
      border-style: solid;
        border-color: black;
    }
button {
    border: #000;
    border-width: 4px;
    border-style: solid;
    background: white;
    color: red;
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 0px 0px 0 #f00, 0px 0px 0 #000, 0px 0px 0 #000, 3px 3px 0 #00ff1f;
}
div#bg-top {
    padding: 400;
    background: rgba(0, 1, 23, 0.81);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
button:active, button:focus, button:hover {
    background: lightgray;
}
#footer{
    margin-top:300px;
    height:100px;
    text-align:center;
}
    hr {
      border-width: 2px;
      border-style: solid;
      border-color: grey;
    }
    input:hover {
      background-color: lightgray;
    }
    input:active, input:focus {
      background-color: #eee;
    }
input {
    margin: 6px;
}
h4.events {
    text-align: center;
    padding: 20px;
    font-size: 5em;
    text-transform: uppercase;
        text-shadow: -5px -5px 0 #f00, 0px 0px 0 #000, 0px 0px 0 #000, 5px 5px 0 #00ff1f;
    color: transparent;
}
form.form {
    margin: auto;
    text-align: center;
}
    input {
      border-radius: 5px;
      border-width: 2px;
      border-style:double;
      padding: 5px;
    }
    h2 {
      padding:10px;
      font-size: 2em;
      margin: auto;
      color: transparent;
      text-align: center;
      text-shadow: -4px -4px 0 #f00, 0px 0px 0 #000, 0px 0px 0 #000, 4px 4px 0 #00ff1f;
        text-transform: uppercase;
    }
    body {
      margin:auto;
      width:85%;
      font-family:"Arial",sans-serif;
      padding: 20px;
    }
    div {
      margin: auto;
      width: 90%;
    }
